$Primary: hsl(25, 97%, 53%);
$AccentWhite:hsl(0, 0%, 100%);
$AccentLightGray: hsl(217, 12%, 63%);
$AccentMediumGray:hsl(216, 12%, 54%);
$AccentDarkBlue:hsl(213, 19%, 18%);
$AccentVeryDarkBlue:hsl(216, 12%, 8%);